<!doctype html>
<html>
    <style>
        .error {color:red;}
    </style>
            <h1>Sign Up</h1>

            <form method="post">
        
                <label>Username:
        
                    <input name="username" type="text" value='{{username}}' />
        
                </label> <span class="error">{{username_error}}</span>
                <br><br/>
                   
        
                <label>Password:
        
                <input name="password" type="password" value='{{password}}' />
        
                </label><span class="error">{{password_error}}</span>
                <br><br/>
                
        
                <label>Verify Password:
        
                    <input name="verify" type="password"
                        value='{{verify}}'/>
        
                </label><span class="error">{{verify_error}}</span>
        
                <br><br/>

                 <label> Email (optional):

                    <input name="email" type="text" value='{{email}}'/>
        
                </label><span class="error">{{email_error}}</span>
                <br><br/>
                    <input type="submit" value="Validate" />       
        
        
            </form>
</html>